<h1>Password Generator</h1>

<div>
  <label>Enter Length</label>
  <input (input)="onChangeLengthPressed($event.target.value)" type="number">
</div>

  <br>
  <br>

<div>
  <label>Use Letters</label>
  <input (change)="onChangeUseLettersPressed()" type="checkbox">
</div>

<div>
  <label>Use Numbers</label>
  <input (change)="onChangeUseNumbersPressed()" type="checkbox">
</div>

<div>
  <label>Use Symbols</label>
  <input (change)="onChangeUseSymbolsPressed()" type="checkbox"> 
</div>

<div>
  <button [disabled]="!(onChangeLength && (onChangeUseLetters || onChangeUseNumbers || onChangeUseSymbols))" (click)="onButtonClick()">Generate</button>
</div>

<div>
  <label>Your Password</label>
  <input type="text" [value]="password">
</div>
